{%extends "index.html"%}
{%block title%}
{{post.title}} | {{Site.site_name}}
{%endblock%}

{%block postMain%}
<div class="index-main-post">
	<div class="index-main-post-list">
		<div class="index-main-post-list-title"><a href="/Blog/{{post.url}}.html">{{post.title}}</a></div>
		<div class="index-main-post-list-meta">
			<div class="index-main-post-meta-div">
				<img src="http://www.gravatar.com/avatar/{{"1307995200@qq.com"|md5}}" class="small-avatar"/>
				<span>{{post.created_at|date("Y年m月d日")}}</span>
			</div>
		</div>
		<div class="index-main-post-list-summary">
			{{post.html}}
		</div>

	</div>
	<div class="index-main-post-comment">
		<a name="comment" id="comment"></a>
		<div class="index-main-post-comment-title">Comments (<span id="comment-num">78</span>)</div>
		<div class="impc-div">
			<div class="impc-div-list">
				<div class="impc-div-list-avatar">
					<img src="/static/images/mm_.jpeg" class="big-avatar"/>
				</div>
				<div class="impc-div-list-content">
					<div class="impc-div-list-content-meta">
						<a href="javascript:;">JiaYi</a><span>2016.02.11</span>
					</div>
					<div class="impc-div-list-content-words">
						该函数比较两个（或更多个）数组的键值，并返回一个差集数组，该数组包括了所有在被比较的数组（array1）中，但是不在任何其他参数数组（array2 或 array3 等等）中的键值。
					</div>
					<div class="impc-div-list-subcom">
						<img src="/static/images/mm_.jpeg" class="small-avatar left"/> &nbsp;&nbsp;
						2015.12.11 12:14:55 :&nbsp;&nbsp; 数组包括了所有在被比较的数组（array1）中，
					</div>
				</div>
			</div>

		</div>
		<div class="impc-reply-form">
			<div class="impc-reply-form-input">
				<div class="impc-reply-form-input-div">
					<span>您的名字:</span>
					<input type="text" name="reply_name" value="" class="reply_form_input_name"/>
				</div>

				<div class="impc-reply-form-input-div" style="float:right;">
					<span>邮箱地址:</span>
					<input type="text" name="reply_email" value="" class="reply_form_input_email"/>
				</div>
			</div>
			<div class="impc-reply-form-text">
				<textarea class="reply_form_textarea" placeholder="Text your comment here"></textarea>
			</div>
			<div class="impc-reply-form-button">
				<a href="javascript:;" id="post-comment-button">Post comment</a>
			</div>
		</div>
	</div>
</div>
<div style="display: none;">
	{{Site.site_analytices}}
</div>
{%endblock%}

{%block indexScript%}
<script type="text/javascript" src="/static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript">
	var postId = {{post.id}};
	var CommentPosting = false;
	$(function(){

		initLoadBlogComment();

		$("#post-comment-button").click(function(){
			if( CommentPosting )
			{
				return;
			}
			var reply = {};
			reply.postId = postId;
			reply.name = $(".reply_form_input_name").val();
			reply.email = $(".reply_form_input_email").val();
			reply.text = $(".reply_form_textarea").val();

			if( reply.name == '' )
			{
				alert("Please fill your name");
				$(".reply_form_input_name").focus();
				return;
			}
			if( reply.email == '' )
			{
				alert("Pls fill your email");
				$(".reply_form_input_email").focus()
				return;
			}
			if( reply.text == '' )
			{
				alert("Comment text can not be blank!");
				$(".reply_form_textarea").focus();
				return;
			}
			$("#post-comment-button").text("Posting comment ...");
			CommentPosting = true;
			$.ajax({
				url:'/Blog/postCommenct',
				data:reply,
				type:"post",
				dataType:"json",
				error:function(error,errstr)
				{
					alert(errstr);
				},
				success:function( ret )
				{
					console.log(ret);
					if( ret.code == 200 )
					{
						initLoadBlogComment();
						CommentPosting = false;
						$("#post-comment-button").text("Post comment");
						$(".reply_form_textarea").val('')
					}else if(ret.code == 403 )
					{
						alert(ret.errmsg);
						CommentPosting = false;
					} else {
						alert(ret.errmsg);
					}
				}
			});
		});
	});

	function initLoadBlogComment()
	{
		var data = {};
		data.postId = postId;
		$.post("/Blog/Comment.html",data, function(ret){
			if( ret.code !=200 )
			{
				//alert(ret.errmsg);
				return;
			}
			console.log(ret.comments);
			var com = ret.comments;
			$("#comment-num").text(com.length);
			var comHtml = '';
			for( var i in com )
			{
				comHtml +='<div class="impc-div-list"><div class="impc-div-list-avatar">'
				+'<img src="http://www.gravatar.com/avatar/'+com[i].gravatar+'" class="big-avatar"/>'
				+'</div><div class="impc-div-list-content">'
				+'<div class="impc-div-list-content-meta">'
				+'<a href="javascript:;">'+com[i].name+'</a><span>'+com[i].created_at+'</span>'
				+'</div><div class="impc-div-list-content-words">'+com[i].content
				+'</div>';
				var subcomhtml = '';
				for( var n in com[i].subcomment )
				{
					var subcom = com[i].subcomment[n];
					console.log(subcom);
					subcomhtml += '<div class="impc-div-list-subcom">'
								+'<img src="'+subcom.gravatar+'" class="small-avatar left"/> &nbsp;&nbsp;'
						 		+subcom.created_at+' :&nbsp;&nbsp;'+subcom.content+'</div>';
				}
				comHtml += subcomhtml+'</div></div>';
			}
			$(".impc-div").html(comHtml);
		},"json");
	}
</script>
{%endblock%}
