html{
	background: url(/static/css/blue/img/htmlbg.$5752.png) repeat;
}
.index-header{
	width: 94%;
	padding: 2em 3%;
	background: #347F82;
	box-shadow: 0 1px 2px #888;
}
.index-header-top{
	width:1100px;
	margin: 0 auto;
}
.index-header-top-logo{
	width:100%;
	float: left;
}

.index-header-top-logo a{
	font-size: 3.2em;
	color: #FFF;
}
.index-header-desc{
	width: 100%;
	padding: 0.3em 0;
	color: #DDD;
	float: left;
}
.index-main{
	width: 1100px;
	margin:  0 auto;
	margin-top: 3em;
}
.index-main-left{
	width: 68%;
	float: left;
}
.index-main-right{
	width:27%;
	float: right;
}

.index-main-post{
	width: 100%;
}
.index-main-post-list{
	width: 90%;
	padding: 2em 5%;
	float: left;
	background: #FFF;
	border-radius: 3px;
	box-shadow: 0 0 3px #DEDEDE;
	margin-bottom: 1.5em;
}
.index-main-post-list-title{
	width: 100%;
	text-align: center;
}
.index-main-post-list-title a{
	font-size: 1.8em;
	color: #347F82;
}

.index-main-post-list-meta{
	width: 100%;
	text-align: center;
	margin-top: 1em;
	height: 2em;
	line-height: 2em;
	float: left;
}
.index-main-post-meta-div{
	margin: 0 auto;
	width: 12em;
}
.index-main-post-list-meta img{
	float: left;
}
.index-main-post-list-meta span{
	height: 2em;
	line-height: 2em;
	width: 10em;
	display: block;
	float: left;
	color: #999;
}

.index-main-post-list-summary{
	width: 100%;
	float: left;
	margin-top: 1em;
	font-size: 1.15em;
	line-height: 2em;
	color: #555;
}

.index-main-post-list-summary img{
	float: left;
	max-width: 100%;
	margin-bottom: 0.6em;
}
.index-main-post-list-summary p{
	font-size: 1em;
}
.index-main-post-list-read-more{
	width: 100%;
	float: left;
	padding: 1.5em 0;
	border-bottom: 1px solid #DEDEDE;
	padding-bottom: 2em;
}
.index-main-post-list-read-more a{
	padding: 0.5em 1.5em;
	background: #FF7788;
	border-radius: 3px;
	color: #FFF;
	font-size: 1.05em;
}
.index-main-post-list-read-more a:hover{
	color: #FFF;
}
.index-main-post-list-tags{
	width: 100%;
	float: left;
	padding-top:1.4em;
}

.index-main-post-list-tags a{
	float: left;
	color: #FFF;
	margin-right: 1em;
	padding: 0.4em 1em;
	background: #347F82;
	border-radius: 3px;
}
.index-main-post-comment{
	width: 90%;
	padding: 2em 5%;
	float: left;
	background: #FFF;
	border-radius: 3px;
	box-shadow: 0 0 3px #DEDEDE;
	margin-bottom: 2.5em;
}
.index-main-post-comment-title{
	width: 100%;
	font-size: 2.5em;
	color: #343434;
	border-bottom: 1px dashed #DEDEDE;
	color: #EDEDED;
}
.index-main-post-comment-title span{
	font-size: .8em;
	color: #DEDEDE;
}

.impc-div-list-content-meta{
	width: 100%;
	float: left;
}
.impc-div-list-content-meta a{
	font-weight: bold;
	margin-right: 0.7em;
	color: #0083D6;
}
.impc-div-list-content-meta span{
	color: #888;
}
.impc-div-list-content-words{
	width: 100%;
	padding: .8em 0;
	float: left;
	border-bottom: 1px dashed #DEDEDE;
}
.impc-div-list-content-reply{
	width: 100%;
	float: left;
}
.impc-div-list-content-reply li{
	height: 2.2em;
	width: 100%;
	float: left;
}
.impc-div{
	width: 100%;
	float: left;
}
.impc-div-list{
	width: 100%;
	float: left;
	margin-top: 1em;
}
.impc-div-list-avatar{
	float: left;
	width: 12%;
}
.impc-div-list-content{
	width: 88%;
	float: right;
}
.impc-reply-form{
	width: 88%;
	margin-top: 1em;
	float: right;
}
.impc-reply-form-input{
	width: 100%;
	float: left;
}
.impc-reply-form-input-div{
	width: 45%;
	height: 28px;
	padding: 1px 0px;
	box-shadow: 1px 1px 1px #999 inset;
	border-radius: 3px;
	background: #FFF;
	border-right: 1px solid #DEDEDE;
	border-bottom: 1px solid #DEDEDE;
	float: left;
}
.impc-reply-form-input-div span{
	width: 39%;
	height: 28px;
	margin-top: 1px;
	margin-left: 1px;
	background:#EFEFEF;
	border-radius: 3px;
	float: left;
	text-align: center;
	line-height: 29px;
}
.impc-reply-form-input-div input{
	width: 50%;
	padding: 0 5%;
	height: 28px;
	line-height: 29px;
	border:0px;
	background: #FFF;
	float: right;
}
.impc-reply-form-text{
	width: 100%;
	float: left;
	margin-top: 1em;
}
.impc-reply-form-text textarea{
	width: 96%;
	float: left;
	padding: .7em 2%;
	border:0px;
	border-radius: 3px;
	box-shadow: 1px 1px 1px #999 inset;
	resize:none;
	border-right: 1px solid #DEDEDE;
	border-bottom: 1px solid #DEDEDE;
}
.impc-reply-form-button{
	width: 100%;
	float: left;
	margin-top: 1em;
}
.impc-reply-form-button a{
	float: right;
	padding: 8px 20px;
	background: #0083D6;
	box-shadow: 1px 1px 1px #999;
	border-radius: 2px;
	color: #FFF;
	position: relative;
}
.impc-reply-form-button a:active{
	top:2px;
}

.index-main-postmore{
	width: 100%;
	float: left;
}

.index-main-copy{
	width: 100%;
	float: left;
	padding-bottom: 2.2em;
	color: #AAA;
}

.index-main-right-div{
	width: 80%;
	float: left;
	padding: 2em 10%;
	background: #FFF;
	border-radius: 3px;
	box-shadow: 0 0 2px #CDCDCD;
	margin-bottom: 2em;
}
.index-main-right-div-title{
	width: 100%;
	float: left;
	border-bottom: 1px solid #EDEFED;
	margin-bottom: 1em;
}
.index-main-right-div-title a{
	padding-bottom: 10px;
	font-weight: bold;
	font-size: 1em;
	width: 40%;
	border-bottom: 1px solid #FF7788;
	float: left;
	color: #454545;
}

.index-search-input{
	width: 80%;
	padding: 0 15%;
	padding-right: 5%;
	height: 2.1em;
	line-height: 2.2em;
	border-radius: 3px;
	background: #FFF url(/static/css/blue/img/ic_search_grey_24dp_1x.png) 6px 5px no-repeat;
	box-shadow: 1px 1px 1px #AAA;
	border:0px;
}

.index-main-right-div-ul{
	width: 100%;
	float: left;
}

.index-main-right-div-ul ul li{
	width: 90%;
	padding: 0 5%;
	font-size: 0.9em;
	height: 2.5em;
	line-height: 2.5em;
	float: left;
	border-radius: 2px;
	box-shadow: 0px 0px 2px #DEDEDE inset;
	background: #F7F7F7;
}
.index-main-right-div-ul ul li a{
	float: left;
	width: 100%;
}
.index-main-right-div-ul ul li span{
	float: right;
	color: #AAA;
}

.index-main-cloud-a a{
	padding: 0.3em 1em;
	border-radius: 2px;
	background: #0083D6;
	margin-right: 0.4em;
	margin-bottom: 0.4em;
	float: left;
	color: #FFF;
	font-size: 0.9em;
}
.index-main-right-div-ul-page ul li a{
	width: 100%;
	float: left;
}

.index-main-right-div-nopadding{
	width: 100%;
}

.index-right-slibar-pic{
	width: 100%;
	border-radius: 10px;
	float: left;
}