
.log-main{
	width: 100%;
	height: 100%;
	position: fixed;
	background: url(/static/css/blue/img/FDD58F58AA91F035831D617A27AA9836_898_598.JPEG) bottom no-repeat;
	background-size: 100%;
}
.lmain-box{
	width: 250px;
	margin:0px auto;
	position: fixed;
	top:50%;
	left: 50%;
	margin-left: -125px;
}

.lmain-box input{
	width: 230px;
	padding: 0 10px;
	height: 2em;
	line-height: 2em;
	font-size: 1.2em;
	border:0px;
	border-bottom: 1px solid #aaa;
	background: none;
	margin-bottom: 1em;
	text-align: center;
	color: #888;
}

/**
 * Message page
 */
.msg-header{
	width: 100%;
	padding: 2em 0;
	background: #0083D6;
	box-shadow: 0 1px 2px #999;
}
.msg-header-title{
	width: 1000px;
	margin: 0 auto;
	font-size: 25px;
	color: #FFF;
}
.msg-body{
	width: 1000px;
	margin: 0 auto;
	margin-top: 2em;
}
.msg-body-left{
	width: 550px;
	float: left;
}
.msg-box-input{
	width: 100%;
	height: 33px;
	padding: 1px 0;
	box-shadow: 1px 1px 1px #BBB inset;
	border-right: 1px solid #DEDEDE;
	border-bottom: 1px solid #DEDEDE;
	border-radius: 3px;
	margin-bottom: 2em;
}
.msg-box-input span{
	width: 25%;
	background: #DEDEDE;
	border-radius: 3px;
	float: left;
	height: 34px;
	line-height: 33px;
	text-align: center;
	margin-left: 1px;
}
.msg-box-input input{
	width: 70%;
	float: left;
	height: 34px;
	line-height: 34px;
	background: #FFF;
	border:0px;
	margin-left: 3%;
}
.msg-box-textarea{
	width: 100%;
}
.msg-box-textarea textarea{
	width: 94%;
	padding: 10px 3%;
	height: 6em;
	float: left;
	background: #FFF;
	border-radius: 3px;
	box-shadow: 1px 1px 1px #999 inset;
	border:0px;
	resize:none;
	border-bottom: 1px solid #DEDEDE;
	border-right: 1px solid #DEDEDE;
	font-size: 1.1em;
}

.msg-box-div{
	width: 100%;
	float: left;
	margin-top: 1.2em;
}
.msg-box-div a{
	padding: 0px 20px;
	height: 35px;
	line-height: 35px;
	background: #0083D6;
	color: #FFF;
	border-radius: 2px;
	box-shadow: 1px 1px 1px #aaa;
	position: relative;
	float: right;
}
.msg-box-div a:active{
	top:2px;
}

.msg-body-right{
	width: 400px;
	float: right;
}
.msg-body-right-title{
	width: 100%;
	float: left;
	margin-bottom: 1.4em;
	text-align: center;
}
.msg-box-li{
	width: 100%;
	float: left;
	text-align: center;
	margin-bottom: 1em;
}

.msg-Announcements-div{
	width: 100%;
	float: left;
}

.msg-copyright{
	color: #AAA;
	width: 100%;
	float: left;
	margin-top: 2em;
}
#msg-submit-ok-tip{
	float: right;
	height: 35px;
	line-height: 37px;
	margin-right: 2em;
	color: #FF0099;
}
