<!DOCTYPE html>
<html>
<head>
	<title>{% block title%}首页{% endblock %} | {{setting.site_name}}</title>
	<link rel="stylesheet" type="text/css" href="/static/skin/font.css"/>
	<link rel="stylesheet" type="text/css" href="/static/skin/simple/simple.css"/>
	<link rel="shortcut icon" href="/me.png" type="image/x-icon" />
</head>
<body>
	{% block header%}
	<div class="index-header">
		<div class="header-logo">
			<div class="header-logo"><a href="/" class="header-logo-a">{{setting.site_name|default('tequiLa')}}</a></div>
			<div class="header-logo-desc">
				{{setting.site_desc|default('This is a blog program writen in php')}}
			</div>
		</div>
	</div>
	{% endblock %}
	<div class="index-body">
	{% block content%}
		<div class="body-left">
			{% for post in posts%}
			<div class="left-list">
				<div class="list-title">
					<a href="/Blog/{{post.url}}">{{post.title}}</a>
				</div>
				<div class="list-summary">
					{{post.content|summary('<!--more-->')}}
				</div>
				<div class="list-meta">
					<div class="list-meta-date">{{post.datetime|date('M,d Y')}}</div>
					<div class="list-meta-readmore"><a target="_blank" href="/Blog/{{post.url}}.html">继续阅读</a></div>
				</div>
			</div>
			{%else%}
				您还没有发表文章!&nbsp;&nbsp;<a href="/admin/post/edit.html" target="_blank" style="color:#009C95">猛击这里</a>发表第一篇文章吧.
			{%endfor%}
		</div>
	{%endblock%}
	{%block nav%}
		<div class="body-right">
			<div class="right-div">
				<div class="right-div-title">Category</div>
				<ul class="right-div-ul">
					{%for key, num in Category.category%}
					<li><a href="/Category/{{key}}">{{key}}</a> <span>({{num}})</span></li>
					{%endfor%}
				</ul>
			</div>
			<div class="right-div">
				<div class="right-div-title">Pages</div>
				<ul class="right-div-ul">
					<li><a href="/User/sign.in" target="_blank">管理登陆</a></li>
					<li><a target="_blank"href="https://github.com/longmonhau/tequila.git">源码&nbsp;(GitHub.COM)</a></li>
					<li><a href="/Contact" target="_blank">联系我</a></li>
				</ul>
			</div>
			<div class="right-div">
				<div class="right-div-copy">{{setting.site_copy}}</div>.
			</div>
		</div>
	{%endblock%}
	</div>
	{%block footer%}
	<div class="index-footer">
		
	</div>
	{%endblock%}
	<div class="absolute-arrow"></div>
</body>
{%block scriptDiv%}
{%endblock%}
</html>