*{
	padding: 0px;
	margin: 0px;
	font-family: 'Raleway' "microsoft yahei";
	outline: none;
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
	color: #333;
}
a:hover{
	color: #333;
}
a:visited{
	color: #333;
}
.clear{
	clear: both;
}
.big-avatar{
	width: 50px;
	height: 50px;
	border-radius: 100%;
}
.medium-avatar{
	width: 40px;
	height: 40px;
	border-radius: 100%;
}
.small-avatar{
	width: 30px;
	height: 30px;
	border-radius: 100%;
}



.bash-header{
	width:96%;
	padding: 0 2%;
	height: 3em;
	line-height: 3em;
	float: left;
	background: #144264;
	color: #FFF;
	font-size: 1em;
	box-shadow: 0 1px 2px #555;
}
.bash-header a{
	color: #FFF;
}
.bash-header-logo{
	float: left;
	font-size: 1.8em;
	width: 6em;
}

.bash-header-nav{
	float: left;
}
.bash-header-nav a{
	float: left;
	margin-right: 1.5em;
	color: #ddd;
}

.bash-header-usr{
	float: right;
}
.bash-header-usr a{
	float: right;
	margin-left: 1.5em;
}

.bash-body{
	width: 96%;
	padding: 2em 2%;
	float: left;
}

.bash-footer{
	width: 96%;
	height: 2em;
	line-height: 2em;
	padding: 0em 2%;
	float: left;
	font-size: 1.1em;
	font-weight: 300;
	color: #666;
	text-align: center;
}

.editor-body{
	width: 96%;
	padding: 2em 2%;
	height: 5em;
	float: left;
	position: relative;
}
.editor-div{
	width: 75%;
	height: 100%;
	margin-bottom: 3em;
	float: left;
}

.editormd-meta{
	width: 100%;
	margin-bottom: 1.5em;
}
.editormd-title{
	width: 100%;
	height: 3em;
	line-height: 3em;
}
.editormd-title-tag{
	float: left;
	font-size: 1.4em;
	width: 5%;
	font-weight: 300;
	height: 2.2em;
	line-height: 2.2em;
}
.editormd-title-input{
	float: left;
	width: 95%;
}
.editormd-title-input input{
	width: 98%;
	padding: 0 1%;
	height: 2.2em;
	font-size: 1.1em;
	line-height: 2.2em;
	border:0px;
	border-radius: 3px;
	background: #f9f9f9;
	box-shadow: 1px 1px 3px #999 inset;
}
.editormd-html-url{
	width: 95%;
	float: right;
	margin-top: 1em;
	margin-bottom: 1.6em;
	color: #333;
}
.html-url-span , .html-url-input{
	float: left;
	font-size: 1.3em;
	font-weight: 300;
}
.html-url-input input{
	border:0px;
	border-bottom: 1px solid #aaa;
	padding: 0 1em;
	font-size: 1.1em;
	font-weight: 300;
	width:400px;
	background: #FFF;
}

.editor-button{
	width: 100%;
	margin-top: 2em;
}
.editor-button-tips{
	float: right;
	height: 2.2em;
	line-height: 2.2em;
	font-weight: bold;
	font-size: 1.12em;
}
.editor-button a{
	float: right;
	padding: 0 2em;
	height: 2.2em;
	line-height: 2.2em;
	border-radius: 1.1em;
	box-shadow: 0 0 3px #888;
	background: #565656;
	color: #FFF;
	margin-left: 2em;
	position: relative;
}
.editor-button a:active{
	top:2px;
}

.editor-footer{
	width: 96%;
	padding: 2em 2%;
	float: left;
	/*background: #FF7788;*/
	position: relative;
}

.editor-meta{
	width: 20%;
	float: right;
}
.meta-div{
	width: 100%;
	margin-top: 1em;
	margin-bottom: 2em;
	float: left;
}
.meta-div span{
	float: left;
	font-size: 1.4em;
	font-weight: 300;
	margin-right: 1em;
	height: 1.5em;
	line-height: 1.5em;
}
.meta-div-input{
	float: left;
	border-radius: 2px;
	height: 1.8em;
	padding: 0 10px;
	line-height: 1.8em;
	box-shadow: 1px 1px 2px #777 inset;
	background: #f9f9f9;
	border:0px;
	font-size: 1.1em;
	position: relative;
	/*background: url(images/ic_arrow_drop_down_black_24dp_2x.png) right no-repeat;*/
}
.meta-div-tag-span{
	color: 0.8em;
	float: left;
	margin-right: 0.7em;
	height: 2.2em;
	line-height: 2.2em;
}
.meta-div-author{
	border:0px;
	background: #F8F8F8;
	border-radius: 3px;
	height: 2.2em;
	line-height: 2.2em;
	width: 12em;
	padding: 0 1em;
	font-weight: 1.2em;
	box-shadow: 1px 1px 2px #777 inset;
}

.meta-div-title{
	width: 100%;
	float: left;
	font-weight:  bold;
	font-size: 1.4em;
}
.meta-div-box{
	width: 95%;
	padding-left: 5%;
	float: left;
}
.meta-div-box ul li{
	width: 100%;
	float: left;
	height: 2em;
	line-height: 2em;
	font-size: 1.2em;
}
.meta-div-box ul li input{
	margin-right: 0.5em;
}

.meta-div-textarea{
	width: 75%;
	height: 2em;
	float: left;
	resize:none;
	padding: 0.7em;
	box-shadow: 0px 0px 3px #777 inset;
	border-radius: 3px;
	border:0px;
	font-size: 1em;
	background: #f9f9f9;
	margin-top: 0.6em;
}

.PL-main{
	width: 96%;
	padding: 2em 2%;
	float: left;
}
.PL-main-box{
	width: 75%;
	float: left;
}
.PL-main-box-header{
	width: 100%;
	float: left;
	font-weight: 700;
	font-size: 0.95em;
}
.hightlist-a-tag{
	background: #FF7788;
	border-radius: 2px;
	font-size: 0.9em;
	padding: 0.2em 0.6em;
}
#box-header-right{
	float: right; 
	color: #454545;
}
.PL-main-box-header input{
	float: left;margin-top: 6px;
	margin-right: 1em;
}
.PL-main-box-header label{
	float: left;margin-right: 1em;

}
.PL-main-box-header span{
	float: left;margin-right: 1em;
}
.PL-main-box-header a{
	float: left;
	margin-right: 1em;
}
.selected-to-del{
	color: #FF7788;
}
.PL-main-post-list{
	width: 98%;
	padding: 0.6em  1%;
	background: #f9f9f9;
	float: left;
	margin-top: 0.6em;
	box-shadow: 0 0 4px #AAA;
}
.PL-main-post-list li{
	width: 100%;
	height: 1.6em;
	line-height: 1.6em;
	float: left;
	padding: 0.5em 0;
	border-bottom: 1px dashed #48AA6D;
}
.PL-main-post-list li input{
	float: left;
	margin-top: 0.5em;
	margin-right: 1em;
}
#box-header-right .this-is-digital{
	color: #FF7799;
	font-family: "sans-serif";
	float: none;
	margin: 0 .5em;
}

.post-list-posttitle{
	font-size: 1em;
}
.post-list-li-montion{
	float: right;
}
.post-list-li-montion a{
	float: left;
	margin-left: 1em;
}
.PL-main-post-nav{
	float: right;
	margin-top: 1em;
}
.PL-main-post-nav a{
	float: left;
	text-align: center;
	margin-left: 1.5em;
	font-weight: 300;
	background: #009C95;
	min-width: 2em;
	height: 2em;
	line-height: 2em;
	box-shadow: 0 0 3px #666;
	border-radius: 1em;
	color: #FFF;
	position: relative;
}
.PL-main-post-nav a:active{
	top:2px;
}

.PL-main-meta{
	width: 20%;
	float: right;
}
.PL-meta-div{
	width: 100%;
	margin-bottom: 2em;
	float: left;
}
.PL-meta-div-title{
	font-weight: bold;
	font-size: 0.95em;
	height: 2em;
	line-height: 2em;
}
.PL-meta-div-ul{
	width: 100%;
	float: left;
}
.PL-meta-div-ul li{
	height: 2em;
	line-height: 2em;
	float: left;
	width: 60%;
	border-bottom: 1px dashed #48AA6D;
}
.PL-meta-div-ul a{
	float: left;
	margin-right: 1em;
	padding: 0.1em 0.8em;
	background:#FF7788;
	color: #FFF;
	border-radius: 5px;
}


/**
 * Setting Page
 */
.Set-main{
	width: 96%;
	padding:2em 2%;
	float: left;
	background: #F9F9F9;
}
.main-div-list{
	width: 1100px;
	margin: 0px auto;
}
.main-div-list-title{
	width: 100%;
	float: left;
	font-size: 1.1em;
	font-weight: bold;
	color: #444;
	margin-bottom: 0.6em;
}
.main-div-list-div{
	width: 98%;
	padding-left: 2%;
	float: left;
	margin-bottom: 1.5em;
}
.main-div-list-div span{
	width: 10%;
	height: 2em;
	line-height: 2em;
	font-size: 1em;
	float: left;
	color: #555;
}
.main-div-list-div input[type='text'],.main-div-list-div input[type='password']{
	height: 2em;
	line-height: 2em;
	font-size: 1.1em;
	float: left;
	border:0px;
	box-shadow: 0px 0px 3px #666;
	width: 35%;
	padding: 0 1%;
	background: #F8F8F9;
	border-radius: 2px;
}
.web-site-desc,.web-site-copy,.web-site-cc{
	width: 35%;
	padding:0.6em 1%;
	box-shadow: 0px 0px 3px #666;
	background: #F8F8F8;
	border-radius: 2px;
	border:0px;
	height: 4em;
	float: left;
	resize:none;
	font-size: 0.9em;
	font-weight: 300;
}
.main-div-list-div-dim{
	width: 37%;
	font-size: 1.2em;
	float: left;
}
.main-div-list-div-dim a{
	float: right;
}
.main-div-makesure{
	padding: 0em 1em;
	height: 2.2em;
	line-height: 2.3em;
	box-shadow: 1px 1px 3px #555;
	background: #009C95;
	border-radius: 3px;
	font-size: 0.8em;
	color: #FFF;
	position: relative;
	float: right;
}
.main-div-makesure:hover{
	color: #FFF;
}
.main-div-makesure:active{
	top:2px;
}

.main-div-setting-tips{
	float: right;
	margin-right: 1.5em;
	height: 1.8em;
	line-height: 1.8em;
	font-weight: bold; 
}

.set-category-list-ul{
	width: 60%;
	margin-right: 30%;
	float: left;
}
.set-category-editcategory{
	width: 60%;
	margin-right: 30%;
	margin-top: 1em;
	float: left;
}
.set-category-list-ul li{
	width: 100%;
	height: 2.5em;
	line-height: 2.5em;
	float: left;
	border-bottom:1px dashed #009C95;
}

.set-category-list-ul-a1{
	float: right;
	margin-left: 1em;
	font-size: 0.9em;
	color: #777;
}
.set-category-list-ul-a{
	float: left;
	font-weight: bold;
	color:#444;
	margin-right: 1em;
	font-size: 1.1em;
}
.set-category-list-ul-span{
	float: right;
	font-size: 0.85em;
}
.button-blue{
	height: 2em;
	line-height: 2em;
	padding: 0 1em;
	float: right;
	margin-left: 2em;
	display: block;
	border-radius: 3px;
	box-shadow: 1px 1px 3px #666;
	background: #009C95;
	color: #FFF;
	position: relative;
	margin-top: 0.3em;
}
.change-modify-category{
	display: none;
}
.button-blue:hover{
	color: #FFF;
}
.button-blue:active{
	top:2px;
}
.set-category-edit-input{
	width: 100%;
	margin-bottom: 1em;
	float: right;
}
#new_category_input,#category-list-ul-fuck li input.tanian-de-fan{
	float:left;
	height:1.8em;
	line-height:1.8em;
	box-shadow:none;
	background:#FFF;
	border:1px solid #DDD;
	padding: 0 0.5em;
	color: #666;
	width: 8em;
	font-weight: 700;
	border-radius: 3px;
	margin-top: 0.3em;
}
.tanian-de-fan,.change-category-a{
	display: none;
}

.post-cate-tags-a{
	padding: 0.3em 1em;
	background: #FF7799;
	border-radius: 3px;
	float: left;
	font-size: 0.9em;
	margin-right: 1em;
	color: #FFF;
	position: relative;
	margin-bottom: 0.7em;
}
.post-cate-tags-a:hover{
	color: #FFF;
}
.post-cate-tags-a:active:{
	top:2px;
}
.post-cate-tags-a:visited{
	color: #FFF;
}

.main-div-list-div-box{
	width: 100%;
}


/**
 * Msg start
 */
.msg-body-div{
	padding: 0 10.8em;
}
.msg-body-div-title{
	width: 60%;
	height: 2.3em;
	float: left;
	font-size: 1em;
	font-weight: bold;
	border-bottom: 1px dashed #AAA;
}

.msg-body-div-list{
	width: 60%;
	float: left;
	margin-top: 1.5em;
}
.msg-body-list-title{
	width: 93%;
	float: right;
}
.msg-body-list-title div{
	width: 100%;
	float: left;
}
.msg-body-list-title span{
	float: left;
}
.msg-body-list-title a{
	float: right;
	font-size: 0.9em;
	margin-left: 1em;
}
.msg-body-list-title a:hover{
	color: #111;
}

.msg-body-list-avatar{
	float: left;
	width: 7%;
}
.msg-body-list-name{
	font-weight: bold;
	height: 1.5em;
	line-height: 1.5em;
}
.msg-body-content{
	width: 93%;
	float: right;
	padding: 1em 0;
}
.mbc-words{
	width: 100%;
	float: left;
	padding-bottom: 0.7em;
	border-bottom: 1px dashed #CBCBCB;
	font-size: 1.1em;
}

.msg-body-content-ersp-list{
	width: 100%;
	float: left;
}
.mbc-ersp-list{
	width: 100%;
	padding: 0.5em 0;
	border-bottom: 1px dashed #DDD;
	float: left;
}
.mbc-ersp-list img{
	float: left;
	margin-right: 0.6em;
}
.mbc-ersp-list span{
	color: #444;
	float: left;
	font-size: 0.94em;
}
.msg-resp-div{
	width: 100%;
	margin-top: 0.5em;
	float: right;
	display: none;
}
.msg-resp-div span{
	float: left;
	color: #666;
}
.msg-resp-div input{
	width: 96%;
	padding: 0 2%;
	float: left;
	height: 2em;
	line-height: 2em;
	border-radius: 2px;
	background: #F8F8F8;
	border:0px;
	font-size: 1.1em;
	box-shadow: 1px 1px 2px #888 inset;
	margin-bottom: 0.5em;
}
.msg-resp-div a{
	float: right;
	padding: 0.2em 1em;
	background: #5DC800;
	color: #FFF;
	box-shadow: 1px 1px 2px #777;
	border-radius: 3px;
	position: relative;
	font-size: 0.9em;
}
.msg-resp-div a:hover{
	color:#FFF;
}
.msg-resp-div a:active{
	top:2px;
}
.msg-body-content-resp:hover{
	color: #FFF;
}

.msg-body-div-nav{
	width: 60%;
	float: left;
	height: 2.5em;
	line-height: 2.5em;
	margin-top: 1.4em;
}
.nav-div{
	float: right;
}

.msg-body-div-nav a{
	width: 2em;
	height: 2em;
	text-align: center;
	line-height: 2em;
	color: #FFF;
	display: block;
	border-radius: 1em;
	background: #FF7788;
	float: left;
	margin-left: 1em;
}
.msg-body-div-nav a:hover{
	color: #FFF;
}
.msg-body-div-nav a.msg-current-nav{
	background: #144264;
}
.msg-footer-div{
	width: 96%;
	padding: 0 2%;
	float: left;
}
.msg-footer{
	width: 60%;
	float: left;
	text-align: center;
	color: #555;
}

/**
 * Profile page
 */
.mdld-avatar-div{
	float: left;
	width: 35%;
}

.mdld-avatar-div a{
	float: left;
	line-height: 1.5em;
	height: 1.5em;
}
.mdld-avatar-gravatar-pic{
	width: 100%;
	float: left;
}
.mdld-avatar-gravatar-pic img{
	float: left;
}
.mdld-avatar-pic-name{
	float: left;
	width: 100%;
	margin-top: 0.6em;
}
.mdld-avatar-pic-name input{
	margin-top: 0.3em;
	float: left;
	margin-right: 0.5em;
}
.mdld-avatar-pic-name label{
	float: left;
	margin-right: 2em;
}