.index-header{
	width: 80%;
	padding: 2em 10%;
	margin:0 auto;
}
.header-logo{
	width: 100%;
	height: 2em;
}
.header-logo-a{
	font-size: 1.35em;
	font-weight: bold;
}
.header-logo-desc{
	width: 100%;
	height: 1.6em;
	float: left;
	color: #555;
}
.index-body{
	width: 80%;
	padding: 0 10%;
	margin: 0 auto;
	margin-top: 1em;
}
.index-footer{
	height: 1.5em;
	line-height: 1.5em;
	padding: 2em 10%;
	width: 80%;
	float: left;
}
.body-left{
	width: 70%;
	padding: 1.2em 2%;
	float: left;
	box-shadow: 0 0 3px #666;
	background: #F9F9F9;
	border-radius: 4px;
}
.body-right{
	width: 20%;
	float: right;
}
.left-list{
	width: 100%;
	float: left;
	margin-bottom: 1.8em;
}
.list-title{
	width: 100%;
	float: left;
	font-weight: bold;
	font-size: 1.4em;
	height: 2em;
}
.list-title a{
	color: #009C95;
}
.list-summary{
	float: left;
	border-left: 6px solid #CCC;
	padding-left: 12px;
	color: #444;
	line-height: 1.7em;
}
.list-meta{
	width: 100%;
	float: left;
	margin-top: 0.8em;
	color: #777;
}
.list-meta-date{
	float: left;
	padding-left: 25px;
	height: 24px;
	background: url(/static/skin/simple/images/time-icon.png) 0 3px no-repeat;
}
.list-meta-readmore{
	float: right;
}
.list-meta-readmore a{
	text-decoration: underline;
	color: #009C95; 
}
.right-div{
	width: 100%;
	float: left;
	margin-bottom: 3em;
}
.right-div-title{
	width: 100%;
	float: left;
	font-weight: bold;
	font-size: 1.1em;
	color: #555;
}
.right-div-ul{
	width: 80%;
	padding-left: 5%;
	margin-top: 0.2em;
	float: left;
}
.right-div-ul li{
	width: 97%;
	padding-right: 3%;
	float: left;
	padding: 0.5em 0;
	font-size: 1em;
	border-bottom: 1px dashed #009C95; 
}
.right-div-ul li a{
	float: left;
	margin-right: 1em;
}
.right-div-ul li span{
	float: right;
	color: #999;
}
.right-div-copy{
	color: #888;
	font-size: 1.2em;
	font-weight: 300;
}

.absolute-arrow{
	width: 3em;
	height: 3em;
	background: url(/static/images/to-top@2x.png) no-repeat;
	background-size: 3em 3em;
	position: fixed;
	bottom: 8em;
	right: 27%;
	cursor: pointer;
}

.post-main{
	width: 70%;
	float: left;
}
.post-main-content{
	width: 95%;
	padding: 1.2em 2.5%;
	float: left;
	box-shadow: 0 0 6px #666;
	background: #F9F9F9;
	border-radius: 4px;width: 100%;
	float: left;
}
.post-meta img{
	float: left;
}
.post-meta span{
	height: 25px;
	line-height: 25px;
	font-size: 1.1em;
	color: #666;
	margin-right: 1em;
}
.post-meta-category a{
	color: #555;
	font-size: 0.9em;
	background: #ddd;
	padding: 3px 10px;
	border-radius: 3px;
	line-height: 0.8em;
	margin-right: 0.5em;
	background: #FF6699;
	color: #FFF;
}

.post-content-words{
	width: 100%;
	float: left;
	margin-top: 1em;
	color: #555;
	line-height: 1.8em;
	padding-bottom: 1em;
}
.post-copy-about{
	width: 96%;
	padding: 0.6em 2%;
	box-shadow: 0 0 3px #888 inset;
	border-radius: 3px;
	background: #F8F8F8;
	float: left;
	color: #666;
}
.post-copy-about-div{
	width: 70%;
	height: 6em;
	line-height: 1.5em;
	float: left;
}
.post-copy-about-div a{
	color: #666;
	font-family: "Roboto";
}
.post-cc-link{
	height: 1.5em;
	float: left;
	width: 100%;
}
.post-qrcode-pic{
	float: right;
}
.post-url-qrcode{
	width: 6em;
	height: 6em;
}
.post-comment{
	width: 100%;
	float: left;
	margin-top: 1.5em;
}
.post-comment-div{
	width: 100%;
	float: left;
	margin-bottom: 2em;
}
.post-comment-title{
	width: 100%;
	height: 2.5em;
	font-size: 1.3em;
	font-weight: 300;
	color: #009C95;
}
.post-comment-div-avatar{
	width: 8%;
	float: left;
	margin-top: 0.5em;
}
.post-comment-div-main{
	float: right;
	width: 92%;
	border-bottom: 1px solid #CCC;
}

.post-comment-div-main-meta{
	width: 100%;
	float: left;
}
.pcd-main-meta-date,.pcd-main-meta-usr{
	width: 100%;
	float: left;
	color: #777;
}
.pcd-main-meta-usr{
	font-weight: bold;
	height: 2em;
	font-size: 1.2em;
	color: #444;
}

.post-comment-div-main-word{
	width: 100%;
	padding-top: 0.5em;
	padding-bottom: 1.8em;
	float: left;
	color: #666;
}

.post-comment-form{
	width: 92%;
	float: right;
}
.post-comment-form-header{
	width: 100%;
	float: left;
}
.post-comment-form-header span{
	width: 33%;
	float: left;
}
.comment-reply-input{
	width: 80%;
	padding: 0 5%;
	height: 2.2em;
	line-height: 2.2em;
	float: left;
	border-radius: 2px;
	background: #FFF;
	box-shadow: 0px 0px 3px #aaa;
	border:0px;
	font-size: 1em;
}

.post-comment-form-textarea{
	width: 100%;
	float: left;
}
.pcf-textarea{
	width: 97%;
	height: 3.5em;
	padding: 0.6em 1.5%;
	float: left;
	background: #FFF;
	border-radius: 3px;
	box-shadow: 0px 0px 3px #aaa;
	border:0px;
	resize:none;
	margin-top: 1em;
	font-size: 1.1em;
}
.post-comment-form-button{
	width: 100%;
	margin-top: 1em;
	float: left;
}
.post-comment-form-button a{
	padding: 0.6em 1.4em;
	box-shadow: 1px 1px 3px #666;
	background: #009C95;
	border-radius: 3px;
	float: right;
	position: relative;
	color: #FFF;
}
.post-comment-form-button a:active{
	top: 2px;
}


/**
* Sign in page
*/
.sign-main{
	width: 300px;
	padding: 1em;
	margin: 0 auto;
	margin-top: 16em;
}
.sign-main-box{
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 1em;
}
.sign-main-box input{
	width: 210px;
	padding-left: 40px;
	padding-right:1em;
	height: 38px;
	line-height: 38px;
	font-size: 1em;
	box-shadow: 1px 1px 2px #555;
	border-radius: 3px;
	border:0px;
	display: block;
}
.sign-main-box-button{
	padding: 0.3em 1em;
	box-shadow: 1px 1px 2px #777;
	background: #009C95;
	border-radius: 3px;
	float: left;
	color: #FFF;
	position: relative;
}
.sign-main-box-button:hover{
	color: #FFF;
}
.sign-main-box-button:active{
	top: 2px;
}
.sign-main-box-usrname{
	background: #F8F8F8 url(/static/skin/simple/images/ic_person_black_24dp_1x.png) 7px 7px no-repeat;
}
.sign-main-box-passwd{
	background: #F8F8F8 url(/static/skin/simple/images/ic_vpn_key_black_24dp_1x.png) 7px 7px no-repeat;
}