{%extends "dashBoard.html"%}

{%block title%}Category{%endblock%}

{%block bashheader%}Category{%endblock%}

{%block bashmain%}
<div class="category-main-left">
	<div class="cml-box">
		<div class="cml-box-header">Edit Category</div>
		<div class="cml-box-input">
			<span>Category name</span>
			<input type="text" value="" name="cm_box_input_title" id="cml-box-category-title"/>
		</div>
		<div class="cml-box-input">
			<span>Category ID</span>
			<input type="text" value="" name="cm_box_input_id" id="cml-box-category-id" />
		</div>
		<div class="cml-box-div">
			<span>Category Desc</span>
			<textarea id="cml-box-div-category-desc"></textarea>
		</div>
		<div class="cml-box-button">
			<a href="javascript:;" id="edit-category-ok">OK</a>
			<a href="javascript:;">Reset</a>
		</div>
	</div>
</div>
<div class="category-main-right">
	<div class="category-main-right-box">
		<div class="category-main-right-box-header">Category</div>
		<div class="category-main-right-box-ul">
			{%for cate in categories%}
			<li id="category-{{cate.categoryId}}"><span><a target="_blank" href="/Category/{{cate.categoryId}}">{{cate.title}}</a></span><a href="javascript:;" cateid="{{cate.categoryId}}" class="cate-main-edit-del-a">Del</a><a href="javascript:;" catetitle="{{cate.title}}" cateid="{{cate.categoryId}}" catedesc="{{cate.desp}}" class="cate-main-edit-a">Edit</a></li>
			{%endfor%}
		</div>
	</div>
</div>
{%endblock%}
{%block bashscript%}
	<script type="text/javascript" src="/static/js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript">
	$(function(){

		$("#edit-category-ok").click(function(){
			var cate = {};
			cate.title = $("#cml-box-category-title").val();
			cate.cateid = $("#cml-box-category-id").val();
			cate.desc = $("#cml-box-div-category-desc").val();
			if(cate.title == '')
			{
				alert("Category title can not be blank!");
				return;
			}
			if( cate.cateid == '' )
			{
				alert("Category id can not be blank!");
				return;
			}
			$.ajax({
				url:"/Admin/Category/Edit.html",
				type:"post",
				data:cate,
				dataType:"json",
				error:function(error,errstr)
				{
					alert( errstr );
				},success:function( ret )
				{
					//console.log(ret);
					if( ret.code == 200 )
					{
						var category = $("#category-"+cate.cateid);
						if( category.length == 0 )
						{
							var cateLi = '<li id="category-'+cate.cateid+'"><span><a target="_blank" href="/Category/'+cate.cateid+'">'+cate.title+'</a></span><a href="javascript:;" class="cate-main-edit-del-a" cateid="'+ret.id+'">Del</a><a href="javascript:;" catetitle="'+cate.title+'" cateid="'+cate.cateid+'" catedesc="'+cate.desc+'}" class="cate-main-edit-a">Edit</a></li>';
							$(".category-main-right-box-ul").append(cateLi);
						} else {
							category.find("span a").text(cate.title);
							category.find(".cate-main-edit-a").attr("catetitle",cate.title).attr("catedesc",cate.desc);
						}
						$("#cml-box-category-title").val('');
						$("#cml-box-category-id").val('');
						$("#cml-box-div-category-desc").val('');
						$("#cml-box-category-id").prop("disabled", false);
					} else {
						alert(ret.errmsg);
					}
				}
			});
		});

		$(".category-main-right-box-ul").on("click",".cate-main-edit-a",function(){

			$("#cml-box-category-title").val($(this).attr("catetitle"));
			$("#cml-box-category-id").val($(this).attr("cateid"));
			$("#cml-box-category-id").prop("disabled", true);
			$("#cml-box-div-category-desc").val($(this).attr("catedesc"));
		});

		$(".category-main-right-box-ul").on("click",".cate-main-edit-del-a",function(){
			var cate = {};
			cate.categoryId = $(this).attr("cateid");
			$.post("/Admin/Category/Del.html",cate, function(ret){
				if( ret.code == 200 )
				{
					$("#category-"+cate.categoryId).remove();
				} else 
				{
					alert(ret.errmsg);
				}
			},"json")
		});
	});
	</script>
{%endblock%}