{%extends "dashBoard.html"%}

{%block title%}评论详情{%endblock%}

{%block bashmain%}
<div class="com-div">
	{%if post %}
	<div class="com-div-post">
		<div class="com-div-post-avatar">
			<img src="/static/images/mm_.jpeg" id="post-author-avatar" class="medium-avatar">
		</div>
		<div class="com-div-post-summary">
			<div class="com-div-post-summary-title"><a href="">{{post.title}}</a></div>
			<div class="com-div-post-summary-words">{{post.summary}}</div>
			<div class="com-div-summary-meta">
				<span>{{post.created_at}}</span>
				{%for category in postCategory%}
				<a href="/Category/{{category.categoryId}}.html" target="_blank">{{category.title}}</a>
				{%endfor%}
			</div>
		</div>
	</div>
	<div class="com-div-box">
		<div class="com-div-comlist">
			<div class="com-div-comlist-avatar">
				<img src="http://www.gravatar.com/avatar/{{thecomment.gravatar}}" class="big-avatar">
			</div>
			<div class="com-div-comlist-box">
				<div class="com-div-comlist-box-header">
					<span style="font-weight: bold;color:#0083D6;">{{thecomment.name}}</span>
					<a href="mailto:{{thecomment.email}}">({{thecomment.email}})</a>
					<span>{{thecomment.created_at}}</span>
					<a href="javascript:;" style="float:right;" cid="{{thecomment.id}}" class="click-to-del-this-comment">删除</a>
				</div>
				<div class="com-div-comlist-box-content thecomment-content-div">
					{{thecomment.content}}
				</div>
				{%for comRepl in comRepls %}
				<div class="resp-temp-div">
				<img src="{{comRepl.gravatar}}" class="small-avatar left"/>&nbsp;&nbsp;
					{{comRepl.created_at}} :&nbsp;&nbsp;{{comRepl.content}}
				</div>
				{%endfor%}
				<div class="com-div-comlist-box-resp">
					<textarea class="com-div-comlist-box-resp-text"></textarea>
				</div>
				<div class="com-div-comlist-box-resp-buttons">
					<a href="javascript:;" class="com-div-comlist-box-resp-button-a" cid="{{thecomment.id}}">回复</a>
				</div>
			</div>
		</div>
		{%for comment in comments%}
		<div class="com-div-comlist">
			<div class="com-div-comlist-avatar">
				<img src="http://www.gravatar.com/avatar/{{comment.gravatar}}" class="big-avatar">
			</div>
			<div class="com-div-comlist-box">
				<div class="com-div-comlist-box-header">
					<span style="font-weight:bold;color:#0083D6;">{{comment.name}}</span>
					<a href="mailto:{{comment.email}}">({{comment.email}})</a>
					<span>{{comment.created_at}}</span>
					<a href="javascript:;" style="float:right;" cid="{{comment.id}}" class="click-to-del-this-comment">删除</a>
				</div>
				<div class="com-div-comlist-box-content">
					{{comment.content}}
				</div>
			</div>
		</div>
		{%endfor%}
	</div>
	{%else%}
	评论不存在或已被删除!
	{%endif%}
</div>
{%endblock%}

{%block bashscript%}
<script type="text/javascript" src="/static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript">
	var posting = false;
	$(".click-to-del-this-comment").click(function(){
			var _this = $(this);
			var cid = $(this).attr("cid");
			if( typeof(cid) == 'undefined' )
			{
				 alert("错误！请刷新后重试！");
				 return null;
			}
			$.ajax({
				url:"/Admin/Comment/Del.html",
				data:{cid:cid},
				type:"post",
				dataType:"json",
				error:function(error, errStr )
				{
					alert(errStr);
				},
				success:function( resp )
				{
					console.log(resp);
					if( resp.code == 200 )
					{
						_this.parent().parent().parent().remove();
					} else if( resp.code == 503 )
					{
						alert(resp.errmsg);
						location.href=resp.go_url;
					} else{
						alert(resp.errmsg);
					}
				}
			});
	});
	$(".com-div-comlist-box-resp-button-a").click(function(){
		if( posting )
		{
			return;
		}
		var cid = $(this).attr("cid");
		if( typeof(cid) == 'undefined' )
		{
			alert("错误！请刷新后重试！");
			return null;
		}
		var resContent = $(".com-div-comlist-box-resp-text").val();
		if( resContent.length < 1 )
		{
			alert("请输入回复内容！");
			$(".com-div-comlist-box-resp-text").focus();
			return;
		}
		setTimeout(function(){
			$(".com-div-comlist-box-resp-button-a").text("提交中...");
		},100);
		posting = true;
		$.ajax({
			url:"/admin/Comment/Resp.html",
			data:{cid:cid, resContent: resContent},
			type:"post",
			dataType:"json",
			error:function(error,errStr)
			{
					alert(errStr);
					posting = false;
					$(".com-div-comlist-box-resp-button-a").text("回复");
			},
			success:function(resp)
			{//console.log(resp);
				if( resp.code == 200 )
				{
					var avatar = $("#post-author-avatar").attr("src");
					var html = '<div class="resp-temp-div">'
							+'<img src="'+avatar+'" class="small-avatar left"/>&nbsp;&nbsp;刚刚 :&nbsp&nbsp;'
							+resContent+'</div>';
					$(".com-div-comlist-box-resp").before(html);
					$(".com-div-comlist-box-resp-text").val('');
				} else if( resp.code == 503 )
				{
					alert("登陆已过期！请重新登陆");
					location.href=resp.go_url;
				} else {
					alert(resp.errmsg);
				}
				posting = false;
				$(".com-div-comlist-box-resp-button-a").text("回复");
			}
		});
	});
</script>
{%endblock%}
