<!DOCTYPE html>
<html>
<head>
	<title>{%block title%}概览{%endblock%} | Half-Life</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="/static/css/hl.css">
	<link rel="stylesheet" type="text/css" href="/static/css/bash.css">
</head>
<body>
	<div class="bash-header">
		<div class="bash-header-logo">
			Half-Life
		</div>
		<div class="bash-header-nav">

			<div class="bashheader-title">
					<div class="bashheader-header">
						{%block bashheader%}概览{%endblock%}
					</div>
					<div class="bashheader-icon">
						<a href="/" target="_blank" class="bashheader-icon-uc"></a>
						<a href="/Admin/Message/List.html" class="bashheader-icon-email">
							{%if messageCount >0 %}<img src="/static/images/red-dot.png"/>{%endif%}&nbsp;&nbsp;
						</a>
					</div>
			</div>

		</div>
	</div>
	<div class="bash-main">
		<div class="bash-main-slide">
			<div class="bms-user">
				<div class="bms-user-avatar-div">
					<a href="/admin/Profile"><img src="{{user.avatar}}" class="medium-avatar bms-user-avatar"></a>
				</div>
				<div class="mbs-user-name">
					<span class="mbs-user-name-name">{{user.sname}}</span>
					<a href="/User/Logout.html" class="mbs-user-name-job">退出登陆</a>
				</div>
			</div>
			<div class="bash-main-slide-nav">
				<div class="bash-main-side-nav-div bash-main-side-nav-div-about" >
					<a href="/Admin/dashBoard.html">概览</a>
				</div>
				<div class="bash-main-side-nav-div bash-main-side-nav-div-postlist">
					<a href="/Admin/Post/List.html">文章</a>
					<a href="/Admin/Post/Edit.html" style="float:right">发表</a>
				</div>
				<div class="bash-main-side-nav-div bash-main-side-nav-div-category">
					<a href="/Admin/Category.html">分类</a>
				</div>
				
				<div class="bash-main-side-nav-div bash-main-side-nav-div-archive">
					<a href="javascript:;">附件</a>
				</div>
				<!--<div class="bash-main-side-nav-div">
					<a href="javascript:;">统计图表</a>
				</div>-->
				<div class="bash-main-side-nav-div bash-main-side-nav-div-setting">
					<a href="/admin/Setting.html">设置</a>
				</div>
			</div>
		</div>
		<div class="bash-main-div">
			{%block bashmain%}
			<div class="bash-main-div-left">
				<div class="bash-main-div-chart">
					<a href="https://www.google.com/analytics/web/?et&authuser=0#report/defaultid/a74239973w112395808p117340030/">
						<div class="bash-main-div-chart-div visitor-statistics-photograph">
							谷歌统计
							<span></span>
						</div>
					</a>
					<div class="bash-main-div-chart-sperat"></div>
					<a href="/Admin/Post/List.html">
						<div class="bash-main-div-chart-div post-statistics-photograph">
							Posts
							<span>{{totalPostNum}}</span>
						</div>
					</a>
					<div class="bash-main-div-chart-sperat"></div>
					<a href="/Admin/Category.html">
						<div class="bash-main-div-chart-div category-statistics-photograph">
							Category
							<span>{{totalCategoryNum}}</span>
						</div>
					</a>
					<div class="bash-main-div-chart-sperat"></div>
					<a href="javascript:;">
						<div class="bash-main-div-chart-div comment-statistics-photograph">
						Comments<span>{{totalCommentNum}}</span>
						</div>
					</a>
				</div>
				<div class="bash-main-div-todo">
					<div class="bash-main-div-todo-table-title">Pending tasks</div>
					<div class="bash-main-div-todo-table-row">
						{%for draft in draftList%}
						<li><span>{{draft.title}}</span><a href="javascript:;" pid="{{draft.id}}">DEL</a><a href="/Admin/Post/Edit.html?pid={{draft.id}}">Edit</a></li>
						{%else%}
							<li>No pending task!</li>
						{%endfor%}
					</div>
				</div>
			</div>
			<div class="bash-main-div-right">
				<div class="bmdr-div-list">
					<div class="bmdr-div-list-title">
						<a href="/admin/feeds" style="float:left;font-weight:bold;">Feeds ({{feedCount}})</a>
						&nbsp;
						<a href="javascript:;" id="reflesh-feeds-a"></a>
					</div>
					<div class="feed-append-div">
					{%for feed in feeds %}
						<div class="bmdr-div-list-ul">
							<div class="bmdr-div-list-avatar">
								<img src="http://www.gravatar.com/avatar/{{feed.gravatar}}" class="big-avatar" />

							</div>
							<div class="bmdr-div-list-msg">
								<div class="bmdr-div-list-msg-summary">
									<span>({{feed.humanLookTime}})</span> {{feed.content}}
								</div>
							</div>
						</div>
						{%else%}
						<div class="bmdr-div-list-ul">No feed yet!</div>
						{%endfor%}
					</div>
				</div>
			</div>
			{%endblock%}
		</div>
	</div>
</body>
{%block bashscript%}
<script type="text/javascript" src="/static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript">
$(".bash-main-side-nav-div-about").addClass("dash-main-current-nav");
	$(function(){
		$("#reflesh-feeds-a").click(function(){
			$.get("/Feed/AjaxLoad.html",function(resp){
				if( resp.code == 200 )
				{
					var feeds = resp.feeds;
					var msglen = feeds.length;
					var msgHtml = '';
					for(var i = 0; i < msglen; i++ )
					{
						var msg = feeds[i];
						msgHtml += '<div class="bmdr-div-list-ul">'
								+'<div class="bmdr-div-list-avatar">'
								+'<img src="http://www.gravatar.com/avatar/'+msg.gravatar+'" class="big-avatar" />'
								+'</div><div class="bmdr-div-list-msg">'
								+'<div class="bmdr-div-list-msg-summary">'
								+'<span>('+msg.humanLookTime+') </span>'+msg.content+'</div></div></div>';
					}
					$(".feed-append-div").html(msgHtml);
				}
				else if( resp.code == 503 )
				{
					location.href=resp.go_url;
				}else
				{
					alert(resp.errmsg);
				}
			},"json");
		});
	});
</script>
{%endblock%}
</html>
