{%extends "dashBoard.html"%}

{%block title%}编辑{%endblock%}

{%block bashheader%}
<div class="bashheader-title">编辑文章</div>
{%endblock%}

{%block bashmain%}
<link rel="stylesheet" type="text/css" href="/static/editor.md/css/editormd.min.css">
<div class="bash-main-div-left">
	<div class="bmdl-edit-post-header">
		<div class="bmdl-edit-post-tags">标题:</div>
		<input type="text" name="bmdl-edit-post-title" value="{{Post.title}}" class="bmdl-edit-post-title">
		<input type="hidden" name="post-id" value="{{Post.id}}" id="post-id">
	</div>
	<div id="editormdbox">{{Post.markdown}}</div>
	<div class="editormd-bottom">
		<div class="editormd-bottom-url">
			<div class="editormd-bottom-url-tag">伪静态: https://{{SiteInfo.site_domain|default("localhost")}}/Blog/</div>
			<input type="text" name="editormd-bottom-url-input" value="{{Post.url}}" class="editormd-bottom-url-input">
		</div>
		<div class="editormd-bottom-buttons">
			<a href="javascript:;" id="post-submit-ok">发布</a>
			<div class="editormd-bottom-button-sep"></div>
			<a href="javascript:;" id="post-save-ok">保存</a>
		</div>
	</div>
</div>
<div class="bash-main-div-right">
	<div class="bmdr-box">
		<div class="edit-post-posttime-box">
			<span>日期:</span>
			<input type="text" name="postauthr" value="{{Post.created_at|default|date("Y-m-d H:i:d")}}" id="post-submit-at" />
		</div>
	</div>
	<div class="bmdr-box">
		<div class="bmdr-box-header"><span>类别选择</span><a href="/Admin/Category.html">编辑</a></div>
		<div class="bmdr-box-div">
			{%for cate in Category%}
			<li>
				<div class="bmdr-box-checkbox-div">
				<input type="checkbox" name="new-post-category-{{cate.categoryId}}" id="new-post-category-{{cate.categoryId}}" value="{{cate.id}}" /></div>
				<label for="new-post-category-{{cate.categoryId}}">{{cate.title}}</label>	
			</li>
			{%endfor%}
		</div>
	</div>
	<div class="bmdr-box">
		<div class="bmdr-box-header">标签</div>
		<div class="bmdr-box-div">
			<textarea class="bmdr-box-div-textarea">{{Post.tags}}</textarea>
		</div>
	</div>
</div>
{%endblock%}

{%block bashscript%}
<script type="text/javascript" src="/static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/static/editor.md/editormd.min.js"></script>
<script type="text/javascript">
var editor;
var posting = false;
var md = $("#editormdbox").html();
$("#editormdbox").html('');
$(function(){
	$(".bash-main-side-nav-div").removeClass("dash-main-current-nav");
	$(".bash-main-side-nav-div").eq(1).addClass("dash-main-current-nav");
	$(".bash-main-side-nav-collape").show();


	editor = editormd("editormdbox",{
		width:"100%",
		height:"500px",
		path:"/static/editor.md/lib/",
		toolbarIcons:function(){
			return ["bold", "del", "italic", "quote", "|", 
        "h1", "h2", "h3", "|", 
        "list-ul", "list-ol", "hr", "|",
        "link", "image", "code", "code-block", "table", "datetime", "emoji", "html-entities","|", "preview"];
		},
		//theme : "dark",
		//previewTheme : "dark",
		//editorTheme : "pastel-on-dark",
		markdown : md,
		codeFold : true,
		//syncScrolling : false,
		saveHTMLToTextarea : true,    // 保存 HTML 到 Textarea
		searchReplace : true,
		watch : false,                // 关闭实时预览
		//htmlDecode : "style,script,iframe|on*",            // 开启 HTML 标签解析，为了安全性，默认不开启    
		//toolbar  : false,             //关闭工具栏
		//previewCodeHighlight : false, // 关闭预览 HTML 的代码块高亮，默认开启
		emoji : true,
		taskList : true,
		tocm            : true,         // Using [TOCM]
		tex : true,                   // 开启科学公式TeX语言支持，默认关闭
		flowChart : true,             // 开启流程图支持，默认关闭
		sequenceDiagram : true,       // 开启时序/序列图支持，默认关闭,
		//dialogLockScreen : false,   // 设置弹出层对话框不锁屏，全局通用，默认为true
		//dialogShowMask : false,     // 设置弹出层对话框显示透明遮罩层，全局通用，默认为true
		//dialogDraggable : false,    // 设置弹出层对话框不可拖动，全局通用，默认为true
		//dialogMaskOpacity : 0.4,    // 设置透明遮罩层的透明度，全局通用，默认值为0.1
		//dialogMaskBgColor : "#000", // 设置透明遮罩层的背景颜色，全局通用，默认为#fff
		//imageUpload : true,
		//imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
		//imageUploadURL : "./php/upload.php",
	});

	initCategorySelected();

	$("#post-submit-ok").click(function(){
		$(this).text("正在发布 ... ");
		if( posting )
		{
			return;
		}
		var data = getPostData();
		if( data.htmlContent == '' )
		{
			alert("post content can not be blank!");
			$(this).text("发布");
			return;
		}
		posting = true;
		$.ajax({
			url:"/Post/submit",
			data:data,
			type:"post",
			dataType:"json",
			error:function(error,errstr)
			{
				alert(errstr);
			},
			success:function(ret)
			{
				//console.log(ret);
				if( ret.code == 200 )
				{
					location.href=ret.go_url;
				} else{
					alert( ret.errmsg );
				}
			}
		});
	});

	$("#post-save-ok").click(function(){
		$(this).text("正在保存 ... ");
		var _this = $(this);
		if( posting )
		{
			return;
		}
		posting = true;
		var post = getPostData();
		post.public = 0;
		$.ajax({
			url:"/Post/Submit",
			data:post,
			type:'post',
			dataType:"json",
			error:function(error,errstr){
				alert(errstr);
			},
			success:function(resp){
				if( resp.code == 200 )
				{
					posting = false;
					_this.text("保存");
				} else
				{
					alert(resp.errmsg);
				}
			}
		});
	});

	function initCategorySelected()
	{
		var cateList = "{{Post.category}}";
		cateList = cateList.split(",");
		//console.log( cateList );
		for( var i in cateList )
		{
			$(".bmdr-box-checkbox-div input[value='"+cateList[i]+"']").prop("checked", true);
		}
	}
	function getPostData(){
		var data = {};
		data.title = $(".bmdl-edit-post-title").val();
		if($("#post-id").val())
		{
			data.postId = $("#post-id").val();
		}
		data.markdown = editor.getMarkdown();
		data.htmlContent = editor.getHTML();
		data.url = $(".editormd-bottom-url-input").val();
		data.created_at = $("#post-submit-at").val();
		var cateList = $(".bmdr-box-checkbox-div input:checked");
		
		var cateVal = '';
		for(var i=0;i<cateList.length;i++ )
		{
			cateVal += ","+$(cateList).eq(i).val();
		}
		//console.log( cateVal );
		if( cateVal != '' )
		{
			cateVal = cateVal.substr(1);
		}
		//console.log( cateVal );
		data.cateVal = cateVal;
		data.tags = $(".bmdr-box-div-textarea").val();
		return data;
	};

});
</script>
{%endblock%}