{%extends "dashBoard.html"%}
{%block title%}
文章管理
{%endblock%}

{%block bashheader%}
<div class="bashheader-title">文章管理 : <span id="bashheader-title-span">全部</span></div>
{%endblock%}

{%block bashmain%}
<div class="bash-main-div-left">
	<div class="bmdl-post-list-table">
		<div class="bmdl-post-list-table-title">
			<input type="checkbox" name="post-list-selected-all" value="1" id="post-list-selected-all" />
			<label for="post-list-selected-all" id="selected-all-posts">全选</label>
			<span>选中项</span>
			<a href="javascript:;" id="selected-post-to-delete">删除</a>
			<a href="javascript:;" id="click-to-load-draft-a">只看草稿</a>
			<a href="/Admin/Post/Edit.html" style="float:right;margin:0px;">发表新文章</a>
			<div class="clear"></div>
		</div>
		<div class="bmdl-post-list-table-row">
			<div class="bmdl-post-list-table-row-div">
				{%for p in postList%}
				<div class="bmdl-post-list-div">
					<input type="checkbox" name="bmdl-list-post-selected" value="{{p.id}}" class="bmdl-post-list-div-checkbox"/>
					<a target="_blank" href="/Blog/{{p.url}}.html" class="bmdl-post-list-div-read">
					{{p.title}}
					{%if p.public == '0' %}
					<span style="color:#AAA;">(草稿)</span>
					{%endif%}
					</a>
					<a href="javascript:;" pid="{{p.id}}" class="bmdl-post-list-div-ac bmdl-post-list-div-ac-del">删除</a>
					<a href="/Admin/Post/Edit.html?pid={{p.id}}" class="bmdl-post-list-div-ac">编辑</a>
				</div>
				{%endfor%}
			</div>
			<div class="bmdl-post-list-nav">
				<div class="bmdl-post-list-nav-div">
					{%for p in pageNav%}
					<a href="javascript:;">{{p}}</a>
					{%endfor%}
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>
<div class="bash-main-div-right">
	<div class="bmdr-div">
		<div class="bmdr-div-header">按类别</div>
		<div class="bmdr-div-box bmdr-div-box-category-list">
			{%for cate in Category%}
			<li><a href="javascript:;" cateid="{{cate.categoryId}}" catetitle="{{cate.title}}">{{cate.title}}<span>({{cate.postNum}})</span></a></li>
			{%endfor%}
		</div>
	</div>
	<div class="bmdr-div">
		<div class="bmdr-div-header">标签</div>
		<div class="bmdr-div-box admin-tags-cloud ">
			{%for tag in tags%}
			<a href="/Tags/{{tag}}">{{tag}}</a>
			{%endfor%}
		</div>
		<div class="clear"></div>
	</div>
</div>
{%endblock%}
{%block bashscript%}
<script type="text/javascript" src="/static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript">
	var currentPage = 1;
	$(function(){
		$(".bash-main-side-nav-div").removeClass("dash-main-current-nav");
		$(".bash-main-side-nav-div").eq(1).addClass("dash-main-current-nav");
		$(".bash-main-side-nav-collape").show();

		$("#selected-all-posts").click(function(){
			if( !$("#post-list-selected-all").prop("checked") )
			{
				$("#post-list-selected-all").prop("checked", false);
			} else{
				$("#post-list-selected-all").prop("checked", true);
			}
		});

		$("#post-list-selected-all").change(function(){
			var selected = $(this).prop("checked");
			$(".bmdl-post-list-div-checkbox").prop( "checked", selected );
		});

		$("#selected-post-to-delete").click(function(){
			var posts = $(".bmdl-post-list-div-checkbox:checked");
			var postList = [];
			for( var i = 0; i<posts.length; i++ )
			{
				postList.push(posts.eq(i).val());
			}
			postListStr = postList.join(",");
			if( postListStr == '' )
			{
				return;
			}
			$.ajax({
				url:"/Admin/Post/Del",
				data:{"postId":postListStr},
				type:"post",
				dataType:"json",
				error:function(error,errstr){
					alert(errstr);
				},
				success:function( resp ){
					if( resp.code == 200 )
					{
						posts.parent().remove();
					}
				}
			});
		});

		$(".bmdl-post-list-nav-div a").eq(0).addClass("current-nav-div");
		$(".bmdl-post-list-nav-div a").click(function(){
			var p = {};
			p.page = $(this).text();
			if(p.page == currentPage )
			{
				return;
			}
			currentPage = p.page;
			$(this).addClass("current-nav-div").siblings().removeClass("current-nav-div");
			$.post("/Admin/Post/more", p, function(ret){
				if( ret.code == 200 )
				{
					var pList = ret.postList;
					var PLHtml = '';
					var plen = pList.length;
					for( var i = 0; i<plen; i++ )
					{
						var p = pList[i];
						var drtag = '';
						if( p.public == '0' )
						{
							drtag = '<span style="color:#AAA;">(草稿)</span>';
						}
						PLHtml += '<div class="bmdl-post-list-div">'
								+'<input type="checkbox" name="bmdl-list-post-selected" value="'+p.id+'" class="bmdl-post-list-div-checkbox"/>'
								+'<a target="_blank" href="/Blog/'+p.url+'.html" class="bmdl-post-list-div-read">'
								+p.title+drtag
								+'</a><a href="javascript:;" pid="'+p.id+'" class="bmdl-post-list-div-ac">Del</a>'
								+'<a href="/Admin/Post/Edit.html?pid='+p.id+'" class="bmdl-post-list-div-ac">Edit</a></div>';
					}
					$(".bmdl-post-list-table-row-div").html(PLHtml);
				}
			},"json");
		});
	});

	$(".bmdl-post-list-table-row-div").on("click",".bmdl-post-list-div-ac-del",function(){
		var _this = $(this);
		var pid = $(this).attr("pid");
		$.ajax({
			url:"/Admin/Post/Del",
			data:{"postId":pid},
			type:"post",
			dataType:"json",
			error:function(error,errStr)
			{
				alert(errStr);
			},
			success:function( resp )
			{
				if( resp.code == 200 )
				{
					_this.parent().remove();
					loadCategory();
				}
			}
		});
	});

	$(".bmdr-div-box-category-list").on("click","a", function(){
		var cateid = $(this).attr("cateid");
		var catetitle = $(this).attr("catetitle");
		$("#bashheader-title-span").text(catetitle);
		var data = {};
		
		data.page = 1;
		data.categoryId = cateid;
		
		$.post("/getCategoryPost",data, function(rsp){
			if( rsp.code == 200 )
			{
				var pList = rsp.postList;
				var plen = pList.length;
				var pHtml = "";
				for( var i = 0; i < plen; i++ )
				{
					var p = pList[i];
					var drtag = '';
					if( p.public == '0' )
					{
						drtag = '<span style="color:#AAA;">(草稿)</span>';
					}
					pHtml += '<div class="bmdl-post-list-div">'
						+'<input type="checkbox" name="bmdl-list-post-selected" value="'+p.id+'" class="bmdl-post-list-div-checkbox"/>'
						+'<a target="_blank" href="/Blog/'+p.url+'.html" class="bmdl-post-list-div-read">'
						+p.title+drtag
						+'</a><a href="javascript:;" pid="'+p.id+'" class="bmdl-post-list-div-ac">Del</a>'
						+'<a href="/Admin/Post/Edit.html?pid='+p.id+'" class="bmdl-post-list-div-ac">Edit</a></div>';
				}
				$(".bmdl-post-list-table-row-div").html(pHtml);
				if( plen == 0 )
				{
					$(".bmdl-post-list-table-row-div").html('<div class="bmdl-post-list-div">No Post Yet</div>');
				}
			} else {
				alert(rsp.errmsg);
			}
		},"json");
	});

	$("#click-to-load-draft-a").click(function(){
		$.get("/Admin/Post/ajaxLoadDraft",function(resp){
			if( resp.code == 200 )
			{
				var posts = resp.drafts;
				var postLength = posts.length;
				var postlistHtml = '';
				for( var i = 0; i<postLength; i++ )
				{
					var p =posts[i];
					var drtag = '';
					if( p.public == '0' )
					{
						drtag = '<span style="color:#AAA;">(草稿)</span>';
					}
					postlistHtml += '<div class="bmdl-post-list-div">'
								+'<input type="checkbox" name="bmdl-list-post-selected" value="'+p.id+'" class="bmdl-post-list-div-checkbox"/>'
								+'<a target="_blank" href="/Blog/'+p.url+'.html" class="bmdl-post-list-div-read">'
								+p.title+drtag
								+'</a><a href="javascript:;" pid="'+p.id+'" class="bmdl-post-list-div-ac">Del</a>'
								+'<a href="/Admin/Post/Edit.html?pid='+p.id+'" class="bmdl-post-list-div-ac">Edit</a></div>';
				}
				$(".bmdl-post-list-table-row-div").html(postlistHtml);
				if( postLength == 0 )
				{
					$(".bmdl-post-list-table-row-div").html('<div class="bmdl-post-list-div">No Post Yet</div>');
				}
			} else if( resp.code == 503 )
			{
				if( confirm(resp.errmsg+" 是否重新登陆?") )
				{
					location.href = resp.go_url;
				}
			}else{
				alert(resp.errmsg);
			}
		},"json");
	});

	function loadCategory()
	{
		$.post("/AjaxLoadCategory",function(resp){
			if( resp.code == 200 )
			{
				var categories = resp.categories;
				var CateListHtml = '';
				for( var k in categories )
				{
					var category = categories[x1k];
					CateListHtml += '<li><a href="javascript:;" cateid="'+category+'">'+category.title+'<span>('+category.postNum+')</span></a></li>';
				}
				$(".bmdr-div-box-category-list").html(CateListHtml);
			}
		},"json");
	}
</script>
{%endblock%}