{%extends "dashBoard.html"%}

{%block title%}个人设置{%endblock%}

{%block bashheader%}个人设置{%endblock%}

{%block bashmain%}
<div class="bash-main-div-left">
	<div class="bash-profile-list">
		<span>账号ID:</span>
		<input type="text" value="{{user.name}}" disabled="true" />
	</div>
	<div class="bash-profile-list">
		<span>昵称:</span>
		<input type="text" value="{{user.sname}}" id="user-profile-sname" />
	</div>
	<div class="bash-profile-list">
		<span>邮箱:</span>
		<input type="text" value="{{user.email}}" id="user-profile-email"/>
	</div>
	<div class="bash-profile-list">
		<span>头像:</span>
		<div class="profile-avatar-list">
			<div class="profile-avatar-list-header">
				<input type="text" value="{{user.avatar}}" id="profile-avatar-input" />
				<a href="javascript:;">使用Gravatar头像</a>
			</div>
			<div class="profile-avatar-list-header">
				<img src="{{user.avatar}}" class="large-avatar left"/>
			</div>
		</div>
	</div>
	<div class="bash-profile-list">
		<div class="bash-profile-list-buttons">
			<a href="javascript:;" id="submit-profile-ok">确定</a>
			<div class="submit-profile-ok-tip"></div>
		</div>
	</div>

	<div class="bash-profile-list">
		<span>旧密码:</span>
		<input type="password" value="" id="the-old-passwd"/>
	</div>
	<div class="bash-profile-list">
		<span>新密码:</span>
		<input type="text" value="" id="the-new-passwd"/>
	</div>
	<div class="bash-profile-list">
		<span>确认新密码:</span>
		<input type="text" value="" id="confirm-new-passwd"/>
	</div>
	<div class="bash-profile-list">
		<div class="bash-profile-list-buttons">
			<a href="javascript:;" id="submit-password-ok">确定</a>
			<div class="submit-passwd-ok-tip"></div>
		</div>
	</div>
</div>
{%endblock%}

{%block bashscript%}
<script type="text/javascript" src="/static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript">
	var posting = false;
	$("#submit-profile-ok").click(function(){
		if( posting )
		{
			return;
		}
		var profile = {};
		profile.sname = $("#user-profile-sname").val();
		profile.email = $("#user-profile-email").val();
		profile.avatar = $("#profile-avatar-input").val();
		if( profile.sname == '' )
		{
			alert("请输入昵称！");
			$("#user-profile-sname").focus();
			return;
		}
		if( profile.email == '' )
		{
			alert("请输入邮箱地址！");
			$("#user-profile-email").focus();
			return;
		}
		posting = true;
		$.ajax({
			url:"/admin/Profile/submit",
			data:profile,
			type:"post",
			dataType:"json",
			error:function(error,errStr)
			{
				alert(errStr);
			},
			success:function(resp)
			{
				if(resp.code == 200 )
				{
					$(".submit-profile-ok-tip").html(resp.errmsg);
					setTimeout(function(){
						$(".submit-profile-ok-tip").html('');
					},3000);
				} else if( resp.code == 503 )
				{
					alert(resp.errmsg);
					location.href=resp.go_url;
				} else
				{
					alert(resp.errmsg);
				}
				posting = false;
			}
		});
	});

	$("#submit-password-ok").click(function(){
		if( posting )
		{
			return;
		}
		var pwd = {};
		pwd.old = $("#the-old-passwd").val();
		pwd.new = $("#the-new-passwd").val();
		pwd.confirm = $("#confirm-new-passwd").val();
		if( pwd.old == '' )
		{
			alert("旧密码不能为空！");
			$("#the-old-passwd").focus();
			return;
		}
		if( pwd.new == '' )
		{
			alert("请输入新密码！");
			$("#the-new-passwd").focus();
			return;
		}
		if( pwd.new != pwd.confirm) 
		{
			alert("两次输入的的新密码不相同！");
			$("#confirm-new-passwd").focus();
			return;
		}
		posting = true;
		$.ajax({
			url:"/admin/Profile/chpwd",
			data:pwd,
			type:"post",
			dataType:"json",
			error:function(error,errStr)
			{
				alert(errStr);
			},
			success:function(resp)
			{
				if( resp.code == 200 )
				{
					$(".submit-passwd-ok-tip").html(resp.errmsg);
					setTimeout(function(){
						$(".submit-passwd-ok-tip").html('');
					},3000);
				} else if( resp.code == 503 )
				{
					alert(resp.errmsg);
					location.href=resp.go_url;
				} else
				{
					alert(resp.errmsg);
				}
				posting = false;
			}
		});
	});
</script>
{%endblock%}