<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>{{site.site_name}}</title>
	<meta charset="utf8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/css/font.css">
	<link rel="stylesheet" type="text/css" href="/static/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/static/css/black/index.css">
	<link rel="shortcut icon" href="{{site.site_favicon|default("/static/images/favicon.png")}}" type="image/x-icon" />
</head> 
<body>
	<div class="index-left">
	<div class="index-header"></div>
	<!--Index Main box-->
	<div class="index-main">
		<div class="index-main-box">
			<div class="main-box-top">
				<div class="main-box-top-box">
					<img src="{{site.site_logoimg|default("/static/images/male.png")}}" class="main-box-top-img-icon"/>
				</div>
				<div class="main-box-top-box">
					<div class="main-box-top-box-title">
						{{site.site_name|default("Half-Life")}}
					</div>
					<div class="main-box-top-box-desc">
						{{site.site_desc}}
					</div>
				</div>
				<div class="main-box-post">
					<ul>
						{%for post in posts %}
						<li><a href="/{{post.url}}.html">{{post.title}}</a><span>{{post.postTime}}</span></li>
						{%endfor%}
					</ul>
				</div>
				<div class="main-box-post-bootm">
				</div>
			</div>
		</div>
	</div>
	
	<!--Index Footer box-->
	<div class="index-footer">
		<div class="index-footer-copyright">
			{{site.site_copyright}} Powered by <a href="https://github.com/longmonhau/Half-Life.git" target="_blank">Half-Life</a> 
		</div>
	</div>
	<div class="index-left-door"></div>
	</div>

	<!--Index right box-->
	<div class="index-right">
		<div class="index-right-header"></div>
		<div class="index-right-header-ac">
			<a href="javascript:;" id="close-this-hidden-page"></a>
		</div>
		<div class="index-right-box">
			<div class="index-right-box-inset">
				<input type="text" value="" placeholder="search..." class="index-right-box-input">
				<a href="javascript:;" class="index-right-box-search-button"></a>
			</div>
		</div>
		<div class="index-right-box">
			<ul class="index-right-box-ul">
				{%for categ in category%}
				<li><a href="/Category/{{categ.categoryId}}.html">{{categ.title}}<span>({{categ.postNum}})</span></a></li>
				{%endfor%}
			</ul>
		</div>

		<div class="index-right-box">
			<ul class="index-right-box-ul page-ul">
				<li><a href="/admin/entrance.html">登陆</a></li>
				<li><a href="/Contact.Me.html">私信</a></li>
				<li><a href="https://github.com/longmonhau/Half-Life.git">源码</a></li>
				<li><a href="/Resume.Me.html">简历</a></li>
			</ul>
		</div>

		<!--<div class="index-right-box">
			<div class="index-right-box-list">
				<div class="index-right-box-list-header">JY Asynch</div>
				<div class="index-right-box-list-summary">
					一个C语言写的PHP异步操作扩展
				</div>
				<div class="index-right-box-list-bottom">
					<a href="javascript:;" class="index-right-box-list-github"></a>
					<a href="javascript:;" class="index-right-box-list-home"></a>
				</div>
			</div>
		</div>-->

		<div class="index-right-box">
			<div class="index-right-box-list">
				<div class="index-right-box-list-header">Half-Life 博客程序</div>
				<div class="index-right-box-list-summary">
					PHP实现的轻量级博客程序
				</div>
				<div class="index-right-box-list-bottom">
					<a target="_blank" href="https://github.com/longmonhau/Half-Life.git" class="index-right-box-list-github"></a>
					<a href="javascript:;" class="index-right-box-list-home"></a>
				</div>
			</div>
		</div>
	</div>
	<div style="display:none;">
		{{site.site_analytices}}
	</div>
</body>
<script type="text/javascript" src="/static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript">
	$(".index-left-door").mouseover(function(){
		$(".index-left").width("85%");
		$(".index-right").show();
		$(".index-footer").width("85%");
		$(this).hide();
	});
	$("#close-this-hidden-page").click(function(){
		$(".index-left").width("100%");
		$(".index-footer").width("100%");
		$(".index-right").hide();
		$(".index-left-door").show();
	});
</script>
</html>